<app-header></app-header>
<div class="site-content">
  <h1 class="content-title">Jak wygląda wizyta?</h1>
  <div class="site-content-wrapper">
    <div class="blocks">
      <div id="sections" data-aos="fade-left" class="row section-1">
        <div class="col-12 col-lg-5 left">
          <h2 class="title">1. Umówienie wizyty</h2>
        </div>

        <div class="col-2 icon d-lg-block d-none">
          <div class="icon-image">
            <img src="../assets/visit/contact.png" alt="Phone and message icon" />
          </div>
        </div>

        <div class="col-12 col-lg-5 right">
          <p class="description">
            Lorem Ipsum is simply dummy text of the printing and
            typesetting industry.
          </p>
        </div>
      </div>

      <div id="sections" data-aos="fade-right" class="row section-2">
        <div class="col-12 col-lg-5 left">
          <h2 class="title">2. Wyniki badań</h2>
        </div>

        <div class="col-2 icon d-lg-block d-none">
          <div class="icon-image">
            <img src="../assets/visit/medical-certificate.png" alt="Medical certificate icon" />
          </div>
        </div>

        <div class="col-12 col-lg-5 right">
          <p class="description">
            Lorem Ipsum is simply dummy text of the printing and
            typesetting industry.Lorem Ipsum is simply dummy text of the
            printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an
            unknown printer took a galley of type and scrambled it to make
            a type specimen book.
          </p>
        </div>
      </div>

      <div id="sections" data-aos="fade-left" class="row section-3">
        <div class="col-12 col-lg-5 left">
          <h2 class="title">3. Pierwsza wizyta</h2>
        </div>

        <div class="col-2 icon d-lg-block d-none">
          <div class="icon-image">
            <img src="../assets/visit/conversation.png" alt="Conversation clouds icon" />
          </div>
        </div>

        <div class="col-12 col-lg-5 right">
          <p class="description">
            Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but
            also the leap into electronic typesetting, remaining
            essentially unchanged. It was popularised in the 1960s with
            the release of Letraset sheets containing Lorem Ipsum
            passages, and more recently with desktop publishing software
            like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
      </div>

      <div id="sections" data-aos="fade-right" class="row section-4">
        <div class="col-12 col-lg-5 left">
          <h2 class="title">4. Odbiór jadłospisu</h2>
        </div>

        <div class="col-2 icon d-lg-block d-none">
          <div class="icon-image">
            <img src="../assets/visit/menu.png" alt="Menu icon" />
          </div>
        </div>

        <div class="col-12 col-lg-5 right">
          <p class="description">
            Lorem Ipsum is simply dummy text of the printing and
            typesetting when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was
            popularised in the 1960s with the release of Letraset sheets
            containing Lorem Ipsum passages, and more recently.
          </p>
        </div>
      </div>

      <div id="sections" data-aos="fade-left" class="row section-5">
        <div class="col-12 col-lg-5 left">
          <h2 class="title">5. Wizyta kontrolna</h2>
        </div>

        <div class="col-2 icon d-lg-block d-none">
          <div class="icon-image">
            <img src="../assets/visit/file.png" alt="Document icon" />
          </div>
        </div>

        <div class="col-12 col-lg-5 right">
          <p class="description">
            Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but
            also the leap into electronic typesetting, remaining
            essentially unchanged. It was popularised in the 1960s with
            the release of Letraset sheets containing Lorem Ipsum
            passages, and more recently with desktop publishing software
            like Aldus PageMaker including versions of Lorem Ipsum
          </p>
        </div>
      </div>

      <div id="sections" data-aos="fade-right" class="row section-6">
        <div class="col-12 col-lg-5 left">
          <h2 class="title">6. Kolejne jadłospisy</h2>
        </div>

        <div class="col-2 icon d-lg-block d-none">
          <div class="icon-image">
            <img src="../assets/visit/menu.png" alt="Menu icon" />
          </div>
        </div>

        <div class="col-12 col-lg-5 right">
          <p class="description">
            Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum.
          </p>
        </div>
      </div>

      <div id="sections" data-aos="fade-left" class="row section-7">
        <div class="col-12 col-lg-5 left">
          <h2 class="title">7. Stabilizacja masy ciała</h2>
        </div>

        <div class="col-2 icon d-lg-block d-none">
          <div class="icon-image">
            <img src="../assets/visit/weight-scale.png" alt="Weight icon" />
          </div>
        </div>

        <div class="col-12 col-lg-5 right">
          <p class="description">
            Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but
            also the leap into electronic.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>