@import "variables.scss";

.site-content {
  margin: 50px 0;
}

.content-title {
  margin-left: 100px;
}
.site-content-wrapper {
  margin-top: 50px;
}
.site-top {
  padding: 20px 100px;
  background: #d0def1;
}
