<app-header></app-header>
<div class="site-content">
  <h1 class="content-title">Kontakt</h1>
  <div class="site-content-wrapper">
    <div data-aos="fade-up" class="row d-flex align-items-center">
      <div class="wrapper col-12 col-lg-7">
        <header>Zapraszam do kontaktu</header>
        <form action="#">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-lg-6 dbl-field">
                <div class="field">
                  <input type="text" name="name" placeholder="Imię" />
                  <i class="fas fa-user"></i>
                </div>
              </div>
              <div class="col-12 col-lg-6 dbl-field">
                <div class="field">
                  <input type="text" name="phone" placeholder="Numer telefonu" />
                  <i class="fas fa-phone-alt"></i>
                </div>
              </div>
            </div>
            <div class="col-12 dbl-field">
              <div class="field">
                <input type="text" name="email" placeholder="Email" />
                <i class="fas fa-envelope"></i>
              </div>
            </div>
            <div class="col-12 message">
              <textarea placeholder="Wiadomość" name="message"></textarea>
              <i class="fas fa-comment-alt"></i>
            </div>
            <div class="button-area">
              <button type="submit">Wyślij</button>
              <span></span>
            </div>
          </div>
        </form>
      </div>

      <div class="image col-12 col-lg-5">
        <img data-aos="zoom-in" src="../assets/contact/contact-image.jpg" alt="Contact image" />
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>